@charset "UTF-8";

body{
    margin: 0;
    color: black;
    background-color: black;
    min-width: 260px;
}

html, body {
  overflow-x: hidden;
}

h1{
    padding-left: 10px;
}

header{
    background-image: url(Games/fundo.jpg);
    color: white;
    width:100%;
    height: 130px;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    border: 3px solid black;
}

nav{
    background-color: lightgray;
    margin-top: 5px;
    width:100%;
    height: 60px;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    border: 3px solid black;
}

.grade{
    background-image: url(Games/fundo_azul.jpg);
    background-position: left center;
    color: white;
    margin: 10px;
    height: 350px;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    border: 5px solid darkgray;
    border-radius: 15px;
}

footer{
    background-image: url(Games/fundo.jpg);
    color: white;
    width:100%;
    height: 100px;
    top:0;
    left:0;
    border: 2px solid black;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.card{
    background-color: white;
    color: black;
    margin: 10px;
    height: 260px;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    border: 5px solid darkgray;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px); /* sobe o card */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.game{
    width: 200px;
    height: 240px;
    margin: 20px;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    border: 1px solid black;
}

.game_front{
    width: 200px;
    height: 240px;
    margin: 20px;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    border: 1px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game_front:hover {
    transform: translateY(-10px); /* sobe o card */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

img{
    width: 200px;
    height: 240px;
}

.info {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

input[type=button]{
    position: absolute;
    height: 50px;
    width: 100px;
    border-radius: 8%;
    border: 2px solid black;
}

input[type=button]:hover{
    background-color: blue;
    color: white;
}

#primeiro{
    position:absolute;
    left: 120px;
    top: 370px;
}

#segundo{
    position:absolute;
    left: 120px;
    top: 750px;
}

.controle{
    margin-left: 10px;
    height: 45px;
    width: 50px;
}

@media (min-width: 800px) and (max-width: 1200px){
        .game_front{
        width: 70px;
        height: 170px;
        margin-left: 20px;
        }
}

@media (min-width: 800px) and (max-width: 1000px){

    h1{
        font-size: 25px;
    }

    .game_front{
        width: 50px;
        height: 170px;
        margin-left: 10px;
    }

    .grade{
        width: 90%;
        height: 300px;
    }

    #primeiro{
        position:absolute;
        left: 12%;
        top: 340px;
    }

    #segundo{
        position:absolute;
        left: 12%;
        top: 650px;
    }

    .card{
        width: 75%;
        height: 260px;
        margin-left: 80px;
    }
}

/*versão mobile*/
@media (max-width: 800px){

    h1{
        text-align: center;
        font-size: 25px;
    }

    h2{
        font-size: 17px;
    }

    p{
        font-size: 12px;
    }

    .game_front{
        display: none;
    }

    .grade{
        background-image: url(Games/fundo_2.avif);
        width: 70%;
        height: 210px;
        margin-left: 15%;
        text-align: center;
        justify-content: center;
    }

    #primeiro{
        position:absolute;
        left: 42%;
        top: 280px;
    }

    #segundo{
        position:absolute;
        left: 42%;
        top: 520px;
    }

    .card{
        width: 75%;
        height: 260px;
        margin-left: 50px;
    }

    img{
        width: 100px;
        height: 100px;
    }

    .game{
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }
}